/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap');
/* Styling */
* {
    box-sizing: border-box;
}

html {
    font-size: 16px;
    font-family: 'Source Sans Pro', sans-serif;
    display: block;
}

a {
    color: inherit;
}
/*************** HEADER STYLES *************/

header {
    display: block;
    padding: 1rem;
    background-color: grey;
}

header h1 {
    text-align: left;
    font-size: 32px;
    font-weight: 700;
    color: white;
}

header h1 a {
    text-decoration: none;
}

header img {
    width: 9rem;
    height: 9rem;
}

nav {
    display: flex;
    padding-top: 1rem;
}

nav ul {
    list-style-type: none;
    padding: 2rem;
    display: flex;
    width: 50%;
}

nav ul li {
    line-height: 3rem;
    font-size: 16px;
    padding: 1rem 2rem 1rem 2rem;
    background-color: ghostwhite;
    box-shadow: 1px 1px 2px black;
    margin-right: 0.3rem;
}

nav ul a {
    text-decoration: none;
}

nav ul li:hover {
    background-color: tomato;
}

/***************** MAIN CONTENT *****************/

section#background {
    position: relative;
    color: white;
    text-shadow: 2px 2px 4px #000000;
}

h1#title {
    font-size: 32px;
    position: absolute;
    top: 8px;
    left: 16px;
}

p#description {
    position: absolute;
    bottom: 8px;
    left: 16px;
}

/* RESUME PAGE **************************************/

#resume-description {
    padding: 5rem 0rem 0rem 5rem;
}

#resume-description p {
    padding-bottom: 2rem;
}

p + button {
    padding: 1rem;
}