/* Styling */
div.background {
    position: relative;
    text-align: left;
    color: white;
    text-shadow: 2px 2px 4px #000000;
}

h1.title {
    position: absolute;
    top: 8px;
    left: 16px;
}

p.description {
    position: absolute;
    bottom: 8px;
    left: 16px;
}