/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap');
/* Styling */
html {
    font-size: 16px;
    font-family: 'Source Sans Pro', sans-serif;
}

body {
    padding: 0px;
    margin: 0px;
}

a {
    color: inherit;
}
/*************** HEADER STYLES *************/

header {
    display: block;
    padding-bottom: 11.2rem;
    background-color: lightblue;
}

header h1 {
    text-align: left;
    font-size: 32px;
    font-weight: 700;
    padding: 1rem 0rem 0rem 1rem;
}

header h1 a {
    text-decoration: none;
}

header img {
    padding: 1rem;
    float: left;
    width: 9rem;
    height: 9rem;
}

nav {
    float: left;
    padding-top: 1rem;
}

nav ul {
    padding: 1rem;
    list-style-type: none;
}

nav ul li {
    font-size: 16px;
    display: inline-block;
    padding: 1rem 1rem 1rem 1rem;
    margin-top: 2rem;
    background-color: rgb(153, 199, 214);
    box-shadow: 3px 3px 4px black;
}

nav ul li:hover {
    background-color: tomato;
}

/***************** MAIN CONTENT *****************/

div.background {
    position: relative;
    text-align: left;
    color: white;
    text-shadow: 2px 2px 4px #000000;
}

h1#title {
    font-size: 32px;
    position: absolute;
    top: 8px;
    left: 16px;
}

p#description {
    position: absolute;
    bottom: 8px;
    left: 16px;
}